<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b16d85b-b0ad-4d89-837b-b1db15def951/resourcegroups/EventManagerPL20190606125402ResourceGroup/providers/Microsoft.Web/sites/EventManagerPL20190606014943</ResourceId>
    <ResourceGroup>EventManagerPL20190606125402ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eventmanagerpl20190606014943.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eventmanagerpl20190606014943.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EventManagerPL20190606014943</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EventManagerPL20190606014943</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EventManager.DAL.Context.EventContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eventmanagerpl20190606012348dbserver.database.windows.net,1433;Initial Catalog=EventManagerDIPLOMEPTA_db;Persist Security Info=False;User ID=yurirabeshko;Password=Yandex1Yandex1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventManager.DAL.Context.EventContext, EventManager.DAL" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EventManager.DAL.Context.EventContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eventmanagerpl20190606012348dbserver.database.windows.net,1433;Initial Catalog=EventManagerDIPLOMEPTA_db;Persist Security Info=False;User ID=yurirabeshko;Password=Yandex1Yandex1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="EventManager.DAL.Context.EventContext" />
  </ItemGroup>
</Project>